  
  <div class="app-container padding">
    
    <h1 class="padding" >Frameworks - Novo </h1>
    
    <div class="margin-bottom">
      <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon class="margin-right" matPrefix>create</mat-icon> Cadastra Linguagem</button>
    </div>
    
     <form class="app-container" #form="ngForm" (ngSubmit)="doSave(form)" >
    
        <mat-form-field>
          <input matInput name="tx_nome" ngModel placeholder="Nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput name="tx_site" ngModel placeholder="Site">
        </mat-form-field>

        <mat-form-field>
            <input matInput name="tx_ano" ngModel placeholder="Ano">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput name="tx_criador" ngModel placeholder="Criador">
        </mat-form-field>

        <mat-form-field>
            <input matInput name="tx_versao" ngModel placeholder="Versão">
        </mat-form-field>

        <mat-form-field>
            
            <mat-select name="id_liguagem" ngModel placeholder="Linguagem">
              <mat-option *ngFor="let ling of linguagens" [value]="ling.id_liguagem">
                {{ling.tx_liguagem}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-select name="id_tipos" ngModel placeholder="Tipo">
              <mat-option *ngFor="let tipo of tipos" [value]="tipo.id_tipos">
                {{tipo.tx_tipos}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="app-container">
            <textarea matInput name="tx_opniao" ngModel placeholder="Opnião"></textarea>
        </mat-form-field>

        <mat-form-field class="app-container">
            <textarea matInput name="tx_pros" ngModel placeholder="Prós"></textarea>
        </mat-form-field>

        <mat-form-field class="app-container">
            <textarea matInput name="tx_contra" ngModel placeholder="Contras"></textarea>
        </mat-form-field>
    
        <button mat-raised-button type="submit" color="warn">Salvar</button>
      </form>
    </div>